name: Node CI

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: ['14', '16', '18']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Node ${{ matrix.ruby-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Build Typescript
        run: npm run build
      - name: Run tests
        run: npm test
