name: Node CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: ['16', '18']

    steps:
      - uses: actions/checkout@v5
      - name: Set up Node ${{ matrix.ruby-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Build Typescript
        run: npm run build
      - name: Run tests
        run: npm test
